<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blb.mysql_product_service.mapper.ProductMapper">

    <resultMap id="BaseResultMap" type="com.blb.comment.entity.Product">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="deleteFlag" column="delete_flag" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,price,
        p_flag
    </sql>

    <select id="getList" resultType="com.blb.comment.entity.Product">
        select * from t_product where delete_flag = 0
    </select>
</mapper>
