<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blb.day_20220625_springboot.mapper.PersonMapper">


    <!--id为dao层接口的方法名,resultType为实体类全路径-->
    <select id="selectPersonPage" resultType="Person">
        select * from person
    </select>


</mapper>